/*font-family: 'Dosis', sans-serif;*/
body{
	margin:0;
	padding:0;
	font-family: 'Dosis', sans-serif;
}
/*Header start*/
.banner{
	background-image:url(../image/banner.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	overflow:hidden;
}
.wrapper{
	width: 65%;
	margin:0 auto;
	padding:20px 0;
	overflow:hidden;
}
.logo{
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	float: right;
}
.menu a{
	font-size:20px;
	font-weight:700;
	color:white;
	text-decoration:none;
	margin: 20px;
}
.menu a:hover{
	border-bottom:1px solid white;
}
.content{
	width: 70%;
	margin:100px auto;
	color: white;
	text-align:center;
}
.content p{
	font-size: 20px;
}
.content h1{
	font-family:sans-serif;
}
.content button{
	font-family:'Dosis', sans-serif;
	font-weight: 700;
	color: white;
	background-color: transparent;
	width: 140px;
	height: 40px;
	margin: 20px 0px;
	cursor: pointer;
	border: 2px solid white;
}
/*Header end*/
/*develop start*/
.develop{
	width:70%;
	float:left;
}
.develop h1{
	font-size:60px;
}
.develop h1 span{
	font-weight:normal;
}
.develop p{
	font-size:18px;
}
.develop1{
	width:22%;
	float:right;
	margin-top:75px;
}
.develop1 img{
	width:100%;
}
/*develop end*/
/*brand start*/
.brand{
	background-color:#FAFAFA;
}
.branding{
	width:22%;
	float:left;
	margin-top:75px;
}
.branding img{
	width:100%;
}
.branding1{
	width:70%;
	float:right;
}
.branding1 h1{
	font-size: 60px;
}
.branding1 h1 span{
	font-weight:normal;
}
.branding1 p{
	font-size: 18px;
}
/*brand end*/
/*service start*/
.service{
	width:45%;
	overflow:hidden;
	float:left;
	margin-right:10%;
}
.service:nth-child(even){
	margin-right:0px;
}
.service1{
	width: 20%;
}
.service1 i{
	font-size:40px;
	width:40px;
	height:40px;
	color:white;
	background-color:black;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	float:left;
	margin-top:20px;
	padding:15px;
}
.Service2{
	width: 80%;
	float:right;
}
.Service2 h2{
	margin-bottom:0px;
}
.Service2 p{
	margin-top:10px;
}
/*service end*/
/*comment start*/
.comment{
	text-align: center;
}
.comment h1{
	font-size: 60px;
	margin-bottom:0;
	
}
.comment h1 span{
	font-weight:normal;
}
.comment p{
	font-size:22px;
	margin-top:0;
	margin-bottom: 40px;
}
.comment1{
	overflow: hidden;
}
.comment1_1{
	width:20%;
	float:left;
}
.comment1_1 img{
	width:100%;
	border-radius:50%;
}
#talkbubble {
    width:70%;
    height:130px;
    margin-top:15px;
    margin-left:20px;
    padding:10px;
    background:white;
    position:relative;
    float:right;
}
#talkbubble:before {
    content:"";
    position:absolute;
    right:100%;
    top:50px;
    width:0;
    height:0;
    border-top:13px solid transparent;
    border-right:26px solid white;
    border-bottom:13px solid transparent;
}
.talk p{
	font-size:20px;
	margin-left: 20px;
}
.talk p span{
	color:blue;
}
#talkbubble1 {
    width:70%;
    height:130px;
    margin-top:15px;
    margin-left:20px;
    padding:10px;
    background:white;
    position:relative;
    float:left;
}
#talkbubble1:before {
    content:"";
    position:absolute;
    left:100%;
    top:50px;
    width:0;
    height:0;
    border-top:13px solid transparent;
	border-left:26px solid white;
	border-bottom:13px solid transparent;
}
.comment1_2{
	width:20%;
	float:right;
}
.comment1_2 img{
	width:100%;
	border-radius:50%;
}
/*comment end*/
/*sponsor start*/
.Sponsor{
	width: 25%;
	float: left;
}
.Sponsor img{
	width:100%;
	float:left;
}
/*sponsor end*/
/*Team start*/
.team{
	background-color:black;
}
.team0{
	text-align: center;
	color:white;
}
.team0 h1{
	font-size: 60px;
	margin-bottom:0;
	
}
.team0 h1 span{
	font-weight:normal;
}
.team0 p{
	font-size:22px;
	margin-top:0;
	margin-bottom:0;
}
.team1{
	width:33%;
	float:left;
	margin-top:40px;
	margin-bottom:40px;
}
.team2{
	width:80%;
	margin:0 auto;
}
.team2 img{
	width:100%;
	border-radius:50%;
}
.team1 p{
	text-align:center;
	color:white;
	margin:5px auto;
}
.team3{
	text-align:center;
	margin:5px auto;
}
.team3 i{
	color: white;
	background-color: black;
	display: inline-block;
	font-style: normal;
	border:2px solid white;
	border-radius: 50%;
	padding: 5px;
}
/*Team end*/
/*footer start*/
.footer{
	background-color:#7690C5;
}
.footer0{
	width:50%;
	float:left;
}
.footer1{
	color:white;
}
.footer1 h1{
	font-size:60px;
	margin-bottom:0;
}
.footer1 h1 span{
	font-weight:normal;
}
.footer1 p{
	font-size: 18px;
}
.footer2{
	color:white;
	overflow: hidden;
}
.footer2 i{
	width: 45%;
	font-size: 100%;
	margin:10px;
	float: left;
}
.footer3{
	width:40%;
	float:right;
	margin-top: 50px;
}
.footer4{
	width:95%;
	height: 35px;
	margin-top: 10px;
	border-radius: 2px;
	border: none;
	padding-left: 10px;
}
.footer5{
	width:95%;
	height: 210px;
	margin-top: 10px;
	border-radius: 2px;
	border: none;
	padding-left: 10px;
}
/*footer end*/
